body {
}
cast-media-player {
  --theme-hue: 100;
  --progress-color: rgba(255, 255, 255, 0.7);
  --splash-size: cover;
  --background-image: linear-gradient(rgba(115, 119, 217, 1), rgba(181, 101, 202, 1));
  --pause-image: url('img/pause_btn.png');
  --play-image: url('img/play_btn.png');
}

.player {
  --background: linear-gradient(rgba(115, 119, 217, 1), rgba(181, 101, 202, 1));
}
